<head>
    <title>BeeCount 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent" />
    <meta name="apple-mobile-web-app-title" content="BeeCount 3"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/images/beecount_splash-750x1334.png" media="(device-width: 750px) and (device-height: 1334px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link rel="apple-touch-startup-image" media="(orientation: portrait)" href="/images/beecount_splash.png">
    <link rel="apple-touch-startup-image" href="/images/beecount_splash.png">

</head>
