/* CSS declarations go here */

/*
 * Keep footer at bottom with body and main directives here...
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*
 * Stuff for main template layout...
 */

.bee-image {
    object-fit: contain;
    position: absolute;
    height: 99%;
    left: -1px;
    top: 1px;
    bottom: 1px;
}

.status-div {
    margin-top: 3px;
}

.online-status {
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    margin: 1px;
    vertical-align: middle;
}

.project-list li {
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

.nav-wrapper img {
    padding: 5px;
    max-height: 100%;
}

.h-button-area{
    /*
    white-space:nowrap;
    */
    overflow-x:scroll;
    padding: 10px;
}
.h-button{
    display:inline-block;
    margin-left: 4px;
    margin-top: 4px;
    color: white !important;
}

.edit-button {
    color: white !important;
}

.at-form {
    background-color: antiquewhite;
    transition: box-shadow .25s;
    padding: 24px;
    border-radius: 0 0 6px 2px;
}

.background-image {
    background: url('/images/beecount_web_logo.gif') no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centre-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-div {
    padding-right: 10px;
}

.stop-moving {
    margin-right: 10px;
}

/*
 * Animate card appearances - helps with moving.
 */
.card {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.0s;

}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
 * Welcome screen
 */

.welcome-buttons .btn {
    margin-top: 10px;
    min-width: 200px;
    color: white !important;
}

/*
 * List screen
 */

.list-buttons .btn {
    margin-top: 10px;
    min-width: 140px;
}

/*
 * Counting screen
 */
.count-value {
    background-color: darkslategrey;
    padding: 5px 20px 5px 20px;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    /* font-size: xx-large; */
    font-size: 175%;
}

.counting-buttons .btn {
    margin-bottom: 5px;
}

.count-edit-button {
    margin-right: 10px;
}

/* http://stackoverflow.com/questions/14795944/jquery-click-events-not-working-in-ios */
.btn-count {
    margin-top: 20px;
    cursor: pointer;
}

.radio-box {
    margin-bottom: 20px;
}


/*
 * Editing counts
 */

.edit-count-label {
    font-size: smaller;
}

.editbox {
    font-size: larger;
    background-color: slategrey;
    padding: 5px 20px 5px 20px;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
 * General editing
 */
.errors-go-here {
    margin: auto;
    width: 60%;
}

/*
 * Multi-column cards...
 * http://stackoverflow.com/questions/38933939/masonry-in-materializecss
 * TODO: See if this can be made to work somehow.
 */
.cards-container {
    column-break-inside: avoid;
}
.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
.text-center {
    text-align: center;
}
