<template name="MainLayout">
    <body class="orange lighten-4">

        <ul id="dropdown-menu" class="dropdown-content">
            <li><a href="/">Welcome</a></li>
            <li class="divider"></li>
            <li><a href="/new">New Project</a></li>
            <li><a href="/list">List Projects</a></li>
            <li><a href="/account">Account</a></li>
            <li class="divider"></li>
            <li><a href="/instructions">Help &amp; FAQ</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <div class="navbar-fixed">
            <nav class="page-title orange lighten" role="navigation">
                <div class="nav-wrapper">
                    <a id="logo-container" href="/">
                        <!--
                        <img class="materialboxed" src="/images/new_beecount.jpg" height="65px"/>
                        -->
                        <img class="bee-image" src="/images/new_beecount.jpg"/>
                    </a>
                    <div class="right menu-div">
                        <btn class="dropdown-button btn" data-beloworigin="true" data-activates="dropdown-menu">
                            Menu
                            <!--
                            <i class="mdi mdi-dots-vertical"></i>
                            -->
                        </btn>
                    </div>
                </div>
            </nav>
        </div>


        <main>
            <div class="status-div">
                <div class="chip online-status {{status}} white-text">
                    {{statustext}}
                </div>
            </div>
            <layout>
               {{> Template.dynamic template=content}}
            </layout>
        </main>

        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    {{> Template.dynamic template=footer}}
                </div>
                <div class="row">
                    <!--
                    {{#if currentUser}}
                        <span class="new badge left" data-badge-caption="">Logged In</span>
                    {{/if}}
                    -->
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>This project is <i>still</i> in beta and there may be bugs and data loss! Any problems, please
                    <a href="mailto:knirirr@gmail.com?subject=BeeCount 3 problem">email for support</a>.</p>
                    <!--
                    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                    -->
                    <div id="reload">
                    </div>
                </div>
            </div>
        </footer>


    </body>
</template>

<template name="MiniLogin">
    <div class="col l6 s12">
        {{#unless currentUser }}
            {{> atForm }}
        {{/unless}}
    </div>
</template>

<template name="MoveElements">
    {{#if currentUser }}
    <btn class="btn waves-effect waves-light start-moving left">Start Moving</btn>
    <btn class="btn waves-effect waves-light stop-moving left" style="display: none;">Stop Moving</btn>
    <btn class="btn waves-effect waves-light reset-position left" style="display: none;">Reset Position</btn>
    {{/if}}
</template>

<template name="Reload">
   <p>A newer version of the app is available. Tap here to reload:</p>
    <button class="btn btn-sm move-up waves-effect waves-light" id="reload">Reload</button>
</template>
