<template name="Loading">
    <div class="section">
        <img class="centre-image circle" width="75px" src="/images/instructions/bee.png"/>
    </div>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</template>