<template name="Account">

    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h2 class="header center orange-text">Your BeeCount Account</h2>
            </div>
        </div>

        <div class="section">

            <div class="card blue-grey lighten-2">

                <div class="card-content white-text">
                        {{#if empty}}
                            <p>No account details available!</p>
                        {{else}}
                            {{#each users }}
                                {{> User }}
                            {{/each}}
                        {{/if}}

                    <div class="card-action welcome-buttons">
                        {{#if empty}}
                        {{else}}
                        <a class="btn waves-effect waves-light" href="/new">
                            New Project
                            <i class="mdi mdi-plus-box"></i>
                        </a>
                        <a class="btn waves-effect waves-light" href="/list">
                            List Projects
                            <i class="mdi mdi-book-open"></i>
                        </a>
                        {{/if}}
                        {{#if currentUser }}
                            {{> atNavButton }}
                        {{/if}}
                    </div>

                </div>

                <div class="col l6 s12">
                    {{#unless currentUser }}
                        {{> atForm }}
                    {{/unless}}

                </div>

            </div>
        </div>
    </div>

</template>

<template name="User">
    <div class="card teal darken-2">
        <div class="card-content white-text">
            <span class="card-title">
                {{ get_address }}
            </span>
            <p>Account created at: {{ createdAt }}.</p>
            <div class="card-action list-buttons {{_id}}">
                <button class="btn delete waves-effect waves-light red">Delete
                    <i class="mdi mdi-delete-variant"></i>
                </button>
                <button class="btn btn-sm move-up waves-effect waves-light cancel-delete" style="display: none;"> Cancel
                    <i class="mdi mdi-step-backward"></i>
                </button>
                <button class="btn btn-sm move-down waves-effect waves-light red really-delete" style="display: none;">Really delete
                    <i class="mdi mdi-delete-variant"></i>
                </button>
            </div>
        </div>
    </div>
</template>
