<template name="Counting">
    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h3 class="header center orange-text">
                {{#if Template.subscriptionsReady }}
                    {{#with currentProject}}
                        {{name}}
                    {{/with}}
                {{else}}
                    Loading project...
                {{/if}}
                </h3>
            </div>
        </div>

        <div class="section">
            {{#if Template.subscriptionsReady }}
                {{#with currentProject}}
                    {{#if currentProject }}
                    <div class="container count-boxes" id="count-boxes">
                        {{#each currentCounts }}
                            {{> CountBox }}
                        {{/each}}
                        {{> Summary }}

                        {{# if notes  }}
                            <div class="card blue-grey lighten-2">
                                <div class="card-content white-text" style="white-space: pre-wrap;">
                                    <p>{{ notes  }}</p>
                                </div>
                            </div>
                        {{/if}}
                        <div class="card blue-grey lighten-2">
                            <div class="card-content white-text">
                                <a class="btn waves-effect waves-light" href="/edit_project/{{ _id }}">
                                    Edit Project
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                        <div class="card blue-grey lighten-2">
                            <div class="card-content white-text">
                                <span class="card-title">Oh noes!</span>
                                <p>Sorry, couldn't find that project.</p>
                            </div>
                        </div>
                    {{/if}}
                {{/with}}
            {{else }}
                {{> Loading }}
            {{/if}}

        </div>
        {{#with currentProject}}
            <div id="object-id" style="display: none;">{{_id}}</div>
            <div id="object-type" style="display: none;">count</div>
        {{/with}}
    </div>
</template>

<template name="CountBox">
    <div id="{{_id}}-counting" class="count-box">
        <div class="card blue-grey lighten-2 count-box">
            <div class="card-content white-text">
                <span class="card-title">
                    <a class="btn waves-effect waves-light left btn-floating count-edit-button" href="/edit_count/{{ _id }}">
                        <i class="mdi mdi-pencil"></i>
                    </a>
                    {{ name }} <span class="count-value right z-depth-3">{{ countMultiplied _id }}</span>
                </span>
                {{#if notes}}
                <div style="white-space: pre-wrap;">
                    <p>{{notes}}</p>
                </div>
                {{/if}}
                <div class="card-action counting-buttons">
                    <btn class="btn btn-large btn-count waves-effect waves-light increment">
                        <i class="mdi mdi-plus"></i>
                    </btn>
                    <btn class="btn btn-large btn-count waves-effect waves-light decrement">
                        <i class="mdi mdi-minus"></i>
                    </btn>

                    <button class="btn btn-sm move-down waves-effect waves-light" style="display: none;">
                        <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <button class="btn btn-sm move-up waves-effect waves-light" style="display: none;">
                        <i class="mdi mdi-chevron-up"></i>
                    </button>
                    <span class="badge yellow right sort-position z-depth-1" data-badge-caption="order" style="display: none;">{{sort_order}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="{{_id}}-alert"></div>
</template>

<template name="Summary">
    {{# if summary }}
    <div class="card blue-grey lighten-2">
        <div class="card-content white-text">
            <ul>
            {{#each summary}}
                <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i>{{ this }}</li>
            {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
</template>

<template name="Alert">
    <div class="card purple">
        <div class="card-content white-text">
            <span class="card-title">
                Buzzzzz!
            </span>
            {{ message }}
            <div class="card-action counting-buttons">
                <btn class="btn waves-effect waves-light dismiss-alert green lighten-2 right">
                    OK
                </btn>
            </div>
        </div>
    </div>
</template>
