<template name="EditCount">
    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h3 class="header center orange-text">
                {{#if Template.subscriptionsReady }}
                    {{#with currentCount}}
                        {{name}}
                    {{/with}}
                {{else}}
                    Loading count...
                {{/if}}
                </h3>
            </div>
        </div>

        <div id="errors-go-here"></div>

        <div class="section">
            {{#if Template.subscriptionsReady }}
                {{#with currentCount}}
                    {{#if currentCount}}
                        <form class="edit-count">
                            <div class="card blue-grey lighten-2">
                                <div class="card-content white-text">
                                    <span class="card-title">Edit Count</span>



                                    <div class="input-field">
                                        <span class="edit-count-label">Count name:</span>
                                        <div class="editbox">
                                            <input id="name" type="text" name="name" placeholder="Count name" value="{{name}}"/><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Notes (optional):</span>
                                        <div class="editbox">
                                            <textarea id="notes" name="notes" class="materialize-textarea" value="{{notes}}"
                                                      placeholder="Count notes (optional)"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Current value of &ldquo;{{name}}&rdquo;:</span>
                                        <div class="editbox">
                                            <input id="count" type="number" pattern="[0-9]*" name="count" placeholder="0" value="{{count}}"><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">&ldquo;{{name}}&rdquo; will reset itself at this value (set to 0 to turn off):</span>
                                        <div class="editbox">
                                            <input id="auto_reset" type="number" pattern="[0-9]*" name="auto_reset" placeholder="0" value="{{auto_reset}}"/><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">When &ldquo;{{name}}&rdquo; resets (see above) it will be to this value:</span>
                                         <div class="editbox">
                                            <input id="reset_level" type="number" pattern="[0-9]*" name="reset_level" placeholder="0" value="{{reset_level}}"/><br/>
                                         </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">The count displayed will be multiplied by this value:</span>
                                        <div class="editbox">
                                            <input id="multiplier" type="number" pattern="[0-9]*" name="multiplier" placeholder="0" value="{{multiplier}}"/><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Trigger an alert at this level:</span>
                                        <div class="editbox">
                                            <input id="new-alert" type="number" pattern="[0-9]*" name="new-alert" placeholder="Alert level"/><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Alert message:</span>
                                        <div class="editbox">
                                            <input id="new-alert-message" type="text" name="new-alert-message" placeholder="Alert message"/><br/>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-action">
                                    <div class="h-button-area">
                                        <a class="btn waves-effect waves-light h-button" id="edit-count">Save</a>
                                        {{#with currentProject}}
                                            <a class="btn waves-effect waves-light h-button" href="/count/{{ currentProject._id }}">Back to project</a>
                                        {{/with}}
                                        <btn class="btn waves-effect waves-light h-button" id="add-alert">Add Alert</btn>
                                    </div>
                                </div>
                            </div>

                            {{#each currentAlerts }}
                                <div class="alert-box">{{> AlertDelete }}</div>
                            {{/each}}

                        </form>
                    {{else}}
                        <div class="card blue-grey lighten-2">
                            <div class="card-content white-text">
                                <span class="card-title">Oh noes!</span>
                                <p>Sorry, couldn't edit that count.</p>
                            </div>
                        </div>
                    {{/if}}
                {{/with}}
            {{else}}
                {{> Loading}}
            {{/if}}

        </div>


    </div>
</template>


<template name="AlertDelete">
    <div class="card blue-grey lighten-2 count-box">
        <div class="card-content white-text">
            <span class="card-title">
                Alert at: {{ alert }}
            </span>
            {{ message }}
        </div>
        <div class="card-action  {{_id}}">
            <btn class="btn waves-effect waves-light delete-alert">
                <i class="mdi mdi-delete"></i>
            </btn>
            <button class="btn btn-sm move-up waves-effect waves-light cancel-delete" style="display: none;"> Cancel
                <i class="mdi mdi-step-backward"></i>
            </button>
            <button class="btn btn-sm move-down waves-effect waves-light red really-delete" style="display: none;">Really delete
                <i class="mdi mdi-delete-variant"></i>
            </button>
        </div>
    </div>
</template>