<template name="EditProject">
    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h3 class="header center orange-text">
                {{#if Template.subscriptionsReady }}
                    {{#with currentProject}}
                        {{name}}
                    {{/with}}
                {{else}}
                    Loading project...
                {{/if}}
                </h3>
            </div>
        </div>


        <div id="errors-go-here"></div>

        <div class="section">
            {{#if Template.subscriptionsReady }}
                {{#with currentProject}}
                    {{#if currentProject }}
                        <form class="edit-project">

                            <div class="card blue-grey lighten-2">
                                <div class="card-content white-text">
                                    <span class="card-title">Edit Project</span>

                                    <div class="input-field">

                                        <span class="edit-count-label">Project Name:</span>
                                        <div class="editbox">
                                            <input id="name" type="text" name="name" placeholder="Project name" value="{{name}}"/><br/>
                                        </div>

                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Project Notes(optional):</span>
                                        <div class="editbox">
                                            <textarea id="notes" name="notes" class="materialize-textarea" value="{{notes}}"
                                                                 placeholder="Project notes (optional)"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="new-count-label">Add new count:</span>
                                        <div class="editbox">
                                            <input id="new-count" type="text" name="new-count" placeholder="Count name"/><br/>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <span class="edit-count-label">Count Notes (optional):</span>
                                        <div class="editbox">
                                            <textarea id="new-count-notes" name="new-count-notes" class="materialize-textarea"
                                                                 placeholder="Count notes (optional)"></textarea>
                                        </div>
                                    </div>

                                    <!-- input-field class breaks radio boxes -->
                                    <div style="margin-top: 1rem;">
                                        <span class="edit-count-label">Link counts:</span>
                                        <div class="editbox">
                                            <div class="primary-link radio-box">
                                                <span class="edit-count-label">Count:</span>
                                                {{#each currentCounts }}
                                                    {{> LinkSelectPrimary }}
                                                {{/each}}
                                            </div>
                                            <div class="link-type radio-box">
                                                <span class="edit-count-label">...will:</span>
                                                <p>
                                                    <input class="with-gap" name="link-type" type="radio" id="link-type-0" value="0"/>
                                                    <label for="link-type-0" class="white-text">Reset</label>
                                                </p>
                                                <p>
                                                    <input class="with-gap" name="link-type" type="radio" id="link-type-1" value="1"/>
                                                    <label for="link-type-1" class="white-text">Increase</label>
                                                </p>
                                                <p>
                                                    <input class="with-gap" name="link-type" type="radio" id="link-type-2" value="2"/>
                                                    <label for="link-type-2" class="white-text">Decrease</label>
                                                </p>
                                            </div>
                                            <div class="secondary-link radio-box">
                                               <span class="edit-count-label">...count:</span>
                                               {{#each currentCounts }}
                                                    {{> LinkSelectSecondary }}
                                                {{/each}}
                                            </div>
                                            <div class="how-often">
                                                <span class="edit-count-label">...every/at:</span>
                                                <input id="link-how-often" type="number" pattern="[0-9]*" name="count" placeholder="Enter a number..."><br/>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="card-action">
                                    <div class="h-button-area">
                                        <a class="btn waves-effect waves-light h-button" id="edit-project">Save</a>
                                        {{#with currentProject}}
                                            <a class="btn waves-effect waves-light h-button" href="/count/{{ _id }}">Back to project</a>
                                        {{/with}}
                                        <btn class="btn waves-effect waves-light h-button" id="add-count">Add Count</btn>
                                        <btn class="btn waves-effect waves-light h-button" id="add-link">Add Link</btn>
                                    </div>
                                    <div class="h-button-area">
                                    </div>
                                </div>
                            </div>

                            {{#each currentCounts }}
                                <div class="count-box">{{> CountDelete }}</div>
                            {{/each}}

                            {{#each currentLinks }}
                                <div class="count-box">{{> LinkDelete }}</div>
                            {{/each}}

                        </form>
                    {{else}}
                        <div class="card blue-grey lighten-2">
                            <div class="card-content white-text">
                                <span class="card-title">Oh noes!</span>
                                <p>Sorry, couldn't find that project to edit.</p>
                            </div>
                        </div>
                    {{/if}}
                {{/with}}
            {{else}}
                {{> Loading }}
            {{/if}}
        </div>

    </div>

</template>


<template name="CountDelete">
    <div class="card blue-grey lighten-2 count-box">
        <div class="card-content white-text">
            <span class="card-title">
                {{ name }}
            </span>
            {{ notes }}
        </div>
        <div class="card-action  {{_id}}">
            <btn class="btn waves-effect waves-light delete-count">
                <i class="mdi mdi-delete"></i>
            </btn>
            <button class="btn btn-sm move-up waves-effect waves-light cancel-delete" style="display: none;"> Cancel
                <i class="mdi mdi-step-backward"></i>
            </button>
            <button class="btn btn-sm move-down waves-effect waves-light red really-delete" style="display: none;">Really delete
                <i class="mdi mdi-delete-variant"></i>
            </button>
            <a class="btn waves-effect waves-light" href="/edit_count/{{ _id }}">
                <i class="mdi mdi-pencil edit-button"></i>
            </a>
        </div>
    </div>
</template>

<template name="LinkDelete">
    <div class="card blue-grey lighten-2 count-box">
        <div class="card-content white-text">
            <span class="card-title">
                 &lt;Link&gt;
            </span>
            &ldquo;{{ pname }}&rdquo; will {{ tname }} &ldquo;{{ sname }}&rdquo; {{ ltype }} {{ level }}.
        </div>
        <div class="card-action  {{_id}}">
            <btn class="btn waves-effect waves-light delete-link">
                <i class="mdi mdi-delete"></i>
            </btn>
            <button class="btn btn-sm move-up waves-effect waves-light cancel-delete" style="display: none;"> Cancel
                <i class="mdi mdi-step-backward"></i>
            </button>
            <button class="btn btn-sm move-down waves-effect waves-light red really-delete" style="display: none;">Really delete
                <i class="mdi mdi-delete-variant"></i>
            </button>
        </div>
    </div>
</template>

<template name="LinkSelectPrimary">
    <p>
        <input  class="with-gap link-selector" name="primary" type="radio" id="p-select-{{_id}}" value="{{_id}}"/>
        <label for="p-select-{{_id}}" class="white-text" id="p-select-{{_id}}-label">{{ name }}</label>
    </p>
</template>

<template name="LinkSelectSecondary">
    <p>
        <input class="with-gap link-selector" name="secondary" type="radio" id="s-select-{{_id}}" value="{{_id}}"/>
        <label for="s-select-{{_id}}" class="white-text" id="s-select-{{_id}}-label">{{ name }}</label>
    </p>
</template>


<template name="EditProjectErrors">
    <div class="row">
        <div class="card card-panel purple">
            <span class="white-text">
                <h5>Oh no, something went wrong!</h5>
                <ul>
                    {{#each errors}}
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i>{{ this }}</li>
                    {{/each}}
                </ul>
            </span>
        </div>
    </div>
</template>
