<template name="Instructions">

    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center orange-text">Instructions</h1>
            </div>
        </div>

        <div class="section">

            <ul class="collection with-header">
                <li class="collection-header"><h4>Definitions</h4></li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Project</span>
                    <p>A project represents a single knitting project. It can have associated notes and also multiple
                        counts.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Count</span>
                    <p>A count reprepsents something about the project one wishes to count, e.g. rounds or repeats.
                        Counts can be quite abstract, and BeeCount was designed so that you may attempt to build
                        a series of counts to represent various knitting scenarios. Counts may have alerts, may link
                        to other counts to increase, decrease or reset them, or may reset themselves. Counts may also
                        have notes associated with them, separate from the project notes. Alerts and resets can be added
                        to a count by editing it.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Link</span>
                    <p>A link joins two counts together within a project, one acting upon another to either increase or
                        decrease it every N counts, or to reset it when the first count reaches a particular level.
                        Links can be created by editing a project.
                    </p>
                </li>

            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>Project Management</h4></li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Create</span>
                    <p>On the project creation screen you will need to name your project and supply it with at least one
                        count. Notes for the project and counts are optional at this stage. When you save the project you
                        will be redirected to your list of projects where you may select one and start counting.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Moving Things</span>
                    <p>It's possible to adjust the relative position of projects on the projects screen and of counts
                        on the counting screen.<br/>
                        To do this, tap on &ldquo;start moving&rdquo;. Next to each count or project some up and down
                        arrows will appear, and to the right you will see a number relating to the position of the
                        thing you're moving. Tap the arrows to adjust the position. As the position value changes the
                        counts or projects will be sorted into place. Their final position will be remembered when
                        you tap &ldquo;stop moving&rdquo;. The 'Reset Position' button will sort projects in order of creation
                        and counts in alphabetical order, should you wish to start positioning from a clean slate.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Editing Projects</span>
                    <p>On the project editing screen you will see various buttons:
                    </p>
                    <ul>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Save</li>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Back to project</li>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Add count</li>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Add link</li>
                    </ul>
                    <p>The 'Save' button will save the project's name and notes and return to the project, whereas the
                        'back to project' button will return to the project without saving any changes to those two
                        fields.
                    </p>
                    <p>
                        To add counts or links, fill in the necessary information in the boxes in the top section and
                        then tap the relevant add button. A new count or link will be created immediately and will appear
                        below. You can delete it by using the delete button on each one.
                    </p>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>FAQ</h4></li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Will $FEATURE from the Android app be added to BeeCount 3?</span>
                    <p>
                        Unfortunately, probably not. The main features such as counts, alerts, links &c. will definitely
                        be included as they are essential to the main experience. Custom colours/backgrounds, sounds and
                        other such things are less likely to be included due to the limited time I have for coding on
                        side projects.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Why don't alerts pop up any more?</span>
                    <p>
                        It's a limitation of this being a web app - sorry about that.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Why is the screen white when starting up?</span>
                    <p>
                        It seems that web apps running on iOS no longer respect the instruction to show a splash screen.
                        There doesn't seem to be anything I can do about it on iOS devices, I'm afraid, but I will keep
                        an eye on the situation and fix it if a fix becomes available. Android devices should show a
                        splash screen but if you've got one and you don't see a BeeCount logo whilst the app loads then
                        please let me know.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">This is awesome! How can I give you money?</span>
                    <p>
                        Thanks! If you are particularly keen to do so then you could send money to me via
                        <a href="https://www.paypal.me/knirirr">this link</a>. I'm not looking to make money from this
                        but I must pay £25 per month to run the server and may have to pay more if lots of people start
                        using BeeCount 3. Donations towards these costs would therefore be appreciated.
                    </p>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>Further Help</h4></li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Complex Patterns</span>
                    <p>
                        BeeCount is designed to be capable of representing complex patterns by means of being very
                        abstract; it is up to the user to create counts, link and customise them to represent their
                        knitting. Therefore, it might not be immediately obvious, even to the programmer, how you might
                        best represent your project. If you do have some difficult working it out then please create a
                        thread on the <a href="http://www.ravelry.com/groups/beecount" target="_blank">Ravelry Group</a>.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="/images/instructions/bee.png" alt="a cute bee" class="circle">
                    <span class="title">Bugs, Problems or Feature Requests</span>
                    <p>If you spot a bug, have difficulty with BeeCount or have an idea for a feature, please get in
                        touch.<br/>
                        The best way to do this is to use the <a href="http://www.ravelry.com/groups/beecount"
                                                                 target="_blank">Ravelry Group</a>
                        but you can also <a href="mailto:beecountapp@gmail.com">send an email</a>.

                    </p>
                </li>
            </ul>



            <div class="col l6 s12">
                {{#unless currentUser }}
                    {{> atForm }}
                {{/unless}}
            </div>

        </div>
    </div>

</template>
