<template name="ListProjects">
    <div class="container">

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center orange-text">Projects</h1>
            </div>
        </div>

        <div class="section" id="main-section">
                {{#if Template.subscriptionsReady }}
                    {{#if empty }}
                        <div class="card blue-grey lighten-2">
                            <div class="card-content white-text">
                                <span class="card-title">No projects yet...</span>
                                <p>It would seem that you haven't added any projects to beecount yet. Tap the button below
                                in order to add your first project.</p>
                                <div class="card-action">
                                    <a class="btn waves-effect waves-light" href="/new">
                                    New Project
                                    <i class="mdi mdi-plus-box"></i>
                                </a>
                                </div>
                            </div>
                            <div class="col l6 s12">
                                {{#unless currentUser }}
                                    {{> atForm }}
                                {{/unless}}
                             </div>
                        </div>

                    {{else}}
                        <div class="project-list container" id="project-list">
                        {{#each projects}}
                            <div>{{> Project}}</div>
                        {{/each}}
                        </div>

                    {{/if}}
                {{else}}
                    {{> Loading }}
                {{/if}}
        </div>
        <div id="object-type" style="display: none;">project</div>
    </div>
</template>

<template name="Project">
    <div class="card blue-grey lighten-2 single-project">
        <div class="card-content white-text">
            <span class="card-title">
                {{ name }}
            </span>
            <p>Created: {{createdAt}}</p>
            <p>{{notes}}</p>
            <div class="card-action list-buttons {{_id}}">
                <button class="btn open  waves-effect waves-light">Open
                    <i class="mdi mdi-open-in-new"></i>
                </button>
                <button class="btn delete waves-effect waves-light red">Delete
                    <i class="mdi mdi-delete-variant"></i>
                </button>
                <button class="btn btn-sm move-up waves-effect waves-light cancel-delete" style="display: none;"> Cancel
                    <i class="mdi mdi-step-backward"></i>
                </button>
                <button class="btn btn-sm move-down waves-effect waves-light red really-delete" style="display: none;">Really delete
                    <i class="mdi mdi-delete-variant"></i>
                </button>
                <button class="btn btn-sm move-down waves-effect waves-light" style="display: none;">
                    <i class="mdi mdi-chevron-down"></i>
                </button>
                <button class="btn btn-sm move-up waves-effect waves-light" style="display: none;">
                    <i class="mdi mdi-chevron-up"></i>
                </button>
                <span class="badge yellow right sort-position z-depth-1" data-badge-caption="order" style="display: none;">{{sort_order}}</span>
            </div>
        </div>
    </div>
</template>

