<template name="NewProject">
    <div class="container new-project-container">

        <div class="section">

            <form class="new-project">

                <div id="errors-go-here"></div>

                <div class="card blue-grey lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">New Project</span>
                        <p>Please supply a name for your project, plus at least one count. Project notes can also be added
                        but these are optional.</p>

                        <div class="input-field">
                            <span class="edit-count-label">Project name:</span>
                            <div class="editbox">
                                <input id="name" type="text" name="name" placeholder="Project name" /><br/>
                            </div>
                        </div>
                        <div class="input-field">
                            <span class="edit-count-label">Project notes (optional):</span>
                            <div class="editbox">
                                <textarea id="notes" name="notes" class="materialize-textarea"
                                          placeholder="Project notes (optional)"></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="card-action">
                        <div class="h-button-area">
                            <!--
                             <a class="btn waves-effect waves-light h-button" type="submit" name="action">Save</a>
                            -->
                            <a class="btn waves-effect waves-light h-button" id="new-project">Save</a>
                        </div>
                    </div>
                </div>




                <div class="card blue-grey lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">Project Counts</span>

                        <div class="input-field">
                            <span class="edit-count-label">Count name:</span>
                            <div class="editbox">
                                <input type="text" class="count-input" placeholder="Count" />
                            </div>
                        </div>

                        <div class="input-field">
                            <span class="edit-count-label">Count notes (optional):</span>
                            <div class="editbox">
                                <textarea class="materialize-textarea count-notes" placeholder="Count notes (optional)"></textarea>
                            </div>
                        </div>

                        <div id="add-more-counts">
                        </div>

                    </div>
                    <div class="card-action">
                        <div class="h-button-area">
                            <a class="btn waves-effect waves-light h-button btn-sm add-count">
                                <i class="mdi mdi-plus-box"></i>
                            </a>
                            <a class="btn waves-effect waves-light h-button btn-sm delete-count" id="delete-count" style="display: none;">
                                <i class="mdi mdi-minus-box"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col l6 s12">
                    {{#unless currentUser }}
                        {{> atForm }}
                    {{/unless}}
                </div>

            </form>
        </div>
    </div>

</template>

<template name="NewCount">
    <div class="new-count">
        <hr/>
        <div class="input-field">
            <span class="edit-count-label">Count name:</span>
            <div class="editbox">
                <input type="text" class="count-input" placeholder="Count" />
            </div>
        </div>
        <div class="input-field">
            <span class="edit-count-label">Count notes (optional):</span>
            <div class="editbox">
                <textarea class="materialize-textarea count-notes" placeholder="Count notes (optional)"></textarea>
            </div>
        </div>
    </div>
</template>


<template name="ValidationErrors">
    <div class="row">
        <div class="card card-panel purple">
            <span class="white-text">
                <h5>Oh no, something went wrong!</h5>
                <ul>
                {{#each errors}}
                    <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i>{{ this }}</li>
                {{/each}}
                </ul>
            </span>
        </div>
    </div>
</template>


