<template name="Privacy">

    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h2 class="header center orange-text">Privacy Policy</h2>
            </div>
        </div>

        <div class="section">

            <div class="card blue-grey lighten-2">

                <div class="card-content white-text">
                    <p>I am not using any ad frameworks or even Google Analytics on this application and I do not
                    have any plans to do so.</p>

                    <p>Obviously, your email address will be collected when you sign up but this will not be used for
                    any purpose other than to contact you in relation to using this application. Purposes could include,
                    but are not limited to:</p>

                    <ul>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Password resets.</li>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Account confirmation.</li>
                        <li><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Information relating to the app,
                            e.g. updates on changes.</li>
                    </ul>

                    <p>Your email address will not be passed on to anyone else and you will not be spammed by
                    BeeCount.</p>

                    <p>The only other information I'll have is that in server logs, such as your IP address and the
                    URL you're visiting, plus the details of your projects. None of this will be shared with anyone
                    else either. </p>

                    <p>Any questions should be directed to: <a href="mailto:knirirr@gmail.com">knirirr@gmail.com</a></p>

                    <div class="card-action welcome-buttons">
                        <a class="btn waves-effect waves-light" href="/">
                            Home
                        </a>
                        {{#if currentUser }}
                            {{> atNavButton }}
                        {{/if}}
                    </div>
                </div>

                <div class="col l6 s12">
                    {{#unless currentUser }}
                        {{> atForm }}
                    {{/unless}}
                </div>

            </div>
        </div>
    </div>

</template>