<template name="Welcome">

    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center orange-text">BeeCount</h1>
            </div>
        </div>

        <div class="section">

            <div class="card blue-grey lighten-2">

                <div class="card-content white-text">
                    <div class="card-image">
                        <img src="/images/welcome.jpg" alt="A picture of a scarf being knitted">
                    </div>
                    <p>Welcome to BeeCount knitting counter, version 3.</p>
                    <p>Unlike version 2 this is a web app and for best results you should save as a link to your home
                    screen, then open from that link.</p>
                    <p>Use the menu up in the top right or the buttons below to access various features of the app;
                    one of the buttons below links to the Ravelry forum where help may be sought, should you need it.</p>
                    {{ isMobile }}
                    <div class="card-action welcome-buttons">
                        <a class="btn waves-effect waves-light" href="/new">
                            New Project
                            <i class="mdi mdi-plus-box"></i>
                        </a>
                        <a class="btn waves-effect waves-light" href="/list">
                            List Projects
                            <i class="mdi mdi-book-open"></i>
                        </a>
                        <a class="btn waves-effect waves-light" href="http://www.ravelry.com/groups/beecount" target="_blank">
                            Visit Ravelry
                            <i class="mdi mdi-stocking"></i>
                        </a>
                        {{#if currentUser }}
                            {{> atNavButton }}
                        {{/if}}
                    </div>
                </div>

                <div class="col l6 s12">
                    {{#unless currentUser }}
                        {{> atForm }}
                    {{/unless}}
                </div>

            </div>
        </div>
    </div>

</template>

